<!-- Footer -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                <%=organization%> - <%=appname%> <%=appversion%>
            </div>
        </div>
    </div>
</footer>