<%- include('partials/header.ejs'); %>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/oclc/dashboard/home"><i class="menu-icon fa fa-laptop"></i>OCLC Reclamation </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://library.du.edu" target="_blank"><img src="/oclc/static/images/du-logo.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right"></div>
            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content" style="min-height: 750px">
        <div class="animated fadeIn">
            <div class="row">
                <div id="message"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- Scripts -->
<script src="/oclc/static/assets/js/lib/jquery/jquery-3.7.1.min.js"></script>
<script src="/oclc/static/assets/js/lib/popper/popper.min.js"></script>
<script src="/oclc/static/assets/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="/oclc/static/assets/js/lib/match-height/jquery.matchHeight.min.js"></script>
<script src="/oclc/static/assets/js/theme.js"></script>
<script src="/oclc/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/oclc/static/libs/dompurify/purify.min.js"></script>
<script src="/oclc/static/app/config.module.js"></script>
<script src="/oclc/static/app/dom.module.js"></script>
<script src="/oclc/static/app/helper.module.js"></script>
<script src="/oclc/static/app/endpoints.module.js"></script>
<script src="/oclc/static/app/http.module.js"></script>
<script src="/oclc/static/app/dashboard.module.js"></script>
<script src="/oclc/static/app/user.module.js"></script>
<script src="/oclc/static/app/auth.module.js"></script>
<script>helperModule.renderError();</script>
</body>
</html>
