<%- include('partials/header.ejs'); %>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/oclc/dashboard/home"><i class="menu-icon fa fa-laptop"></i>OCLC Reclamation </a>
                </li>
                <li class="menu-title">Menu</li><!-- /.menu-title -->
                <li><a href="/oclc/dashboard/home"><i class="menu-icon fa fa-home"></i>Dashboard</a></li>
                <li><a href="/oclc/dashboard/users"><i class="menu-icon fa fa-users"></i>Dashboard Users</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://library.du.edu" target="_blank"><img src="/oclc/static/images/du-logo.png"
                                                                                           alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right"></div>
            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content" style="min-height: 750px">
        <div class="animated fadeIn">
            <div class="row"></div>
            <div class="clearfix"></div>
            <div class="row">
                <div id="message"></div>
            </div>
            <div class="row" id="user-data">
                <div class="col-md-12">
                    <div class="card">
                        <form id="user-form" class="form-horizontal">
                            <div class="card-header">
                                <strong class="card-title">Edit Dashboard User</strong>
                            </div>
                            <input id="id" type="hidden">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-6"><input id="username" type="text" placeholder="DU ID"
                                                              class="form-control" required>
                                        <div id="username_error"></div>
                                    </div>
                                    <div class="col-6"><input id="email" type="text" placeholder="Email"
                                                              class="form-control" required>
                                        <div id="email_error"></div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6"><input id="first_name" type="text" placeholder="First Name"
                                                              class="form-control" required>
                                        <div id="first_name_error"></div>
                                    </div>
                                    <div class="col-6"><input id="last_name" type="text" placeholder="Last Name"
                                                              class="form-control" required>
                                        <div id="last_name_error"></div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6"><label for="is_active">Active</label>&nbsp;&nbsp;<input type="checkbox" id="is_active" name="is_active"></div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button id="update-user" type="submit" class="btn btn-primary btn-sm">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <%- include('partials/footer.ejs'); %>
    <!-- /.site-footer -->
</div>
<!-- Scripts -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="/oclc/static/assets/js/theme.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/dataTables.buttons.2.3.6.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/oclc/static/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/oclc/static/libs/axios-2.x/dist/axios.min.js"></script>
<script src="/oclc/static/libs/dompurify/purify.min.js"></script>
<script src="/oclc/static/app/config.module.js"></script>
<script src="/oclc/static/app/dom.module.js"></script>
<script src="/oclc/static/app/helper.module.js"></script>
<script src="/oclc/static/app/endpoints.module.js"></script>
<script src="/oclc/static/app/http.module.js"></script>
<script src="/oclc/static/app/dashboard.module.js"></script>
<script src="/oclc/static/app/auth.module.js"></script>
<script src="/oclc/static/app/user.module.js"></script>
<script>
    userModule.getUserDetails();
    document.querySelector('#update-user').addEventListener('click', userModule.updateUser);</script>
</script>
</body>
</html>